/* You can add global styles to this file, and also import other style files */

.my-div-icon .my-text {
    font-size: 12px;
    color: red;
}

.my-div-icon {
    text-align: center;
}

.icon {
    /* display: inline-block; */
    text-align: center;

}

.icon .text {
     /* background-image: radial-gradient(circle,#e64a19, #f4511e,#fbe9e7 );  */
    /* background-color: #4895ef; */
    /* background-image:  radial-gradient(circle, hsla(294, 100%, 55%, 1) 38%, hsla(197, 100%, 63%, 1) 46%, hsla(230, 100%, 74%, 1) 60%); */
    background-color: #FFA62B;
    text-align: center;
   /*  line-height: 50px; */
    font-size: 12px;
    /* padding: 16px; */
    /* padding: 0.65rem 0.48rem 0.65rem 0.48rem; */
    color: black;
    /* border: 2px solid white; */
    /* border-radius: 50%; */
}

 .baliseLeaflet{
    /* visibility: hidden; */
    display: none;
}

/* .my-pagination{
    height: 32px;
}

.ngx-pagination{
    height: 30px;
}

.ngx-pagination li{
    height: 30px;
}

.ngx-pagination li a span{
    height: 30px;
    justify-content: center;
}

.pagination-previous{
    height: 30px;
}

.pagination-previous::before{
    height: 30px;
} */
/* 
.text {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: red;
    text-align: center;
} */